.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #55acee; /* Twitter blue */
}

.copy-right {
    font-size: 12px;
}

